<footer class="footer">
    <div class="container footer__inner">
        <div>
            <h3>LB Tools</h3>
            <p>Онлайн інструменти для роботи з файлами.</p>
        </div>

        <div class="footer__links">
            <a href="./index.html">Головна</a>
            <a href="#" data-link="optimizer-img.html">Оптимізатор зображень</a>

            
            <a href="pdf/merge.html" data-link="pdf/merge.html">Об’єднати PDF</a>
            <a href="pdf/split.html" data-link="pdf/split.html">Розділити PDF</a>
            <a href="pdf/compress.html" data-link="pdf/compress.html">Стиснути PDF</a>
            <a href="#" data-link="pdf/pdf‑to‑image.html">PDF → Зображення</a>
            <a href="pdf/image-to-pdf.html" data-link="pdf/image-to-pdf.html">Зображення → PDF</a>

            <a href="#">Політика</a>
        </div>

        <div class="footer__copy">
            © 2026 LB Tools. Усі права захищені.
        </div>
    </div>
</footer>