<link rel="icon" href="/favicon.ico" type="image/x-icon">

<header class="header">
  <div class="header__inner container">

    <!-- LOGO -->
    <a href="#" data-link="index.html" class="header__logo">LB Tools</a>

    <!-- NAVIGATION -->
    <nav class="header__nav">
      <a href="#" data-link="index.html" class="header__nav-link">Головна</a>

      <!-- DROP‑DOWN “Застосунки” -->
      <div class="header__nav-item header__nav-dropdown">
        <button class="header__nav-btn">
          Застосунки<span class="header__nav-arrow">▼</span>
        </button>

        <!-- MEGA‑MENU -->
        <div class="mega-menu">
          <div class="mega-menu__content container">

            <h2 class="mega-menu__title">Наші інструменти</h2>

            <div class="mega-grid">

              <!-- IMG Tools -->
              <div class="mega-card mega-card--wrapper">
                <div class="mega-card__inner">
                  <a href="#" data-link="imgtools/" class="mega-card__link">
                    <div class="mega-card-title-container">
                      <span class="mega-card__icon">
                        <svg class="icon" aria-hidden="true">
                          <use data-icon="assets/img/icons/icons.svg#image-ico"></use>
                        </svg>
                      </span>
                      <h4 class="mega-card__title">IMG Tools</h4>
                    </div>
                    <p class="mega-card__desc">
                      Стиснення, оптимізування, редактування, конвертування зображень та багато іншого
                    </p>
                  </a>
                </div>

                <div class="mega-card__sublist-container">
                  <ul class="mega-card__sublist">
                    <li class="mega-card__sublist-item">
                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="#" data-link="imgtools/optimizer-img/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#optimization-img-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">Оптимізатор зображень</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- PDF Tools -->
              <div class="mega-card mega-card--wrapper">
                <div class="mega-card__inner">
                  <a href="#" data-link="pdftools/" class="mega-card__link">
                    <div class="mega-card-title-container">
                      <span class="mega-card__icon">
                        <svg class="icon" aria-hidden="true">
                          <use data-icon="assets/img/icons/icons.svg#pdf-tool-ico"></use>
                        </svg>
                      </span>
                      <h4 class="mega-card__title">PDF Tools</h4>
                    </div>
                    <p class="mega-card__desc">
                      Стискай, об’єднуй, конвертуй, оптимізуй, редактуй та багато іншого
                    </p>
                  </a>
                </div>

                <div class="mega-card__sublist-container">
                  <ul class="mega-card__sublist">
                    <li class="mega-card__sublist-item">

                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="./pdftools/pdfmerge/" data-link="pdftools/pdfmerge/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#merge-pdf-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">Об’єднання PDF</span>
                      </a>

                      <span class="mega-card-arrow-icon">
                        <svg class="icon" aria-hidden="true">
                          <use data-icon="assets/img/icons/icons.svg#arrows-horizontal-ico"></use>
                        </svg>
                      </span>

                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="./pdftools/pdfsplit/" data-link="pdftools/pdfsplit/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#split-pdf-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">Розділення PDF</span>
                      </a>

                    </li>
                    <li class="mega-card__sublist-item">

                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="./pdftools/pdfcompress/" data-link="pdftools/pdfcompress/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#compress-pdf-outline-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">Стискання PDF</span>
                      </a>
                    </li>
                    <li class="mega-card__sublist-item">
                      
                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="./pdftools/convert-pdf-to-image/" data-link="pdftools/convert-pdf-to-image/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#pdf-to-img-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">PDF в Зображення</span>
                      </a>

                      <span class="mega-card-arrow-icon">
                        <svg class="icon" aria-hidden="true">
                          <use data-icon="assets/img/icons/icons.svg#arrows-horizontal-ico"></use>
                        </svg>
                      </span>

                      <a class="mega-card__sublist-link mega-card--link-tools"
                         href="./pdftools/convert-image-to-pdf/" data-link="pdftools/convert-image-to-pdf/">
                        <span class="mega-card__icon">
                          <svg class="icon" aria-hidden="true">
                            <use data-icon="assets/img/icons/icons.svg#img-to-pdf-ico"></use>
                          </svg>
                        </span>
                        <span class="mega-card-tools-title">Зображення в PDF</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div><!-- /.mega-grid -->
          </div><!-- /.mega-menu__content -->
        </div><!-- /.mega-menu -->
      </div><!-- /.header__nav-dropdown -->

      <a href="#" data-link="about.html" class="header__nav-link">Про нас</a>
    </nav>

    <!-- ACTIONS (темна/мобільна кнопка) -->
    <div class="header__actions">
      <button id="themeToggle" class="theme-toggle">

        <svg class="icon theme-icon" aria-hidden="true">
          <use data-icon="assets/img/icons/icons.svg#moon-ico"></use>
        </svg>

    </button>

      <button id="mobileMenuBtn" class="mobile-btn" aria-label="Відкрити меню">
        <span></span><span></span><span></span>
      </button>
    </div>

  </div>
</header>

<!-- MOBILE MENU -->
<div id="mobileMenu" class="mobile-menu">

  <!-- Головна -->
  <a href="#" data-link="index.html" class="mobile-menu__link">Головна</a>

  <!-- Застосунки -->
  <div class="mobile-dropdown">
    <button class="mobile-dropdown__btn">
      <span>Застосунки</span>
      <span class="mobile-dropdown__arrow">▼</span>
    </button>

    <div class="mobile-dropdown__content">

      <!-- IMG Tools -->
      <div class="mobile-submenu-item-title">
        <div class="mobile-submenu-item mobile-submenu-item-title-active">
          <span class="mobile-submenu-item__icon">
            <svg class="icon" aria-hidden="true">
              <use data-icon="assets/img/icons/icons.svg#image-ico"></use>
            </svg>
          </span>
          <div class="mobile-submenu-item__text">
            <h4 class="mobile-submenu-item__title">IMG Tools</h4>
            <p class="mobile-submenu-item__desc">
              Стиснення, оптимізування, редактування, конвертування зображень та багато іншого
            </p>
          </div>
          <span class="mobile-submenu-item__arrow">▼</span>
        </div>

        <ul class="mobile-submenu-list">
          <li class="mobile-submenu-item-container">
            <a href="./imgtools/" data-link="imgtools/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#image-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Головна IMG Tools</h4>
                <p class="mobile-submenu-item__desc">Всі інструменти роботи з зображеннями</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./imgtools/optimizer-img/" data-link="imgtools/optimizer-img/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#optimization-img-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Оптимізатор зображень</h4>
                <p class="mobile-submenu-item__desc">Стискання та оптимізація фото</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!-- PDF Tools -->
      <div class="mobile-submenu-item-title">
        <div class="mobile-submenu-item mobile-submenu-item-title-active">
          <span class="mobile-submenu-item__icon">
            <svg class="icon" aria-hidden="true">
              <use data-icon="assets/img/icons/icons.svg#pdf-tool-ico"></use>
            </svg>
          </span>
          <div class="mobile-submenu-item__text">
            <h4 class="mobile-submenu-item__title">PDF Tools</h4>
            <p class="mobile-submenu-item__desc">
              Стискай, об’єднуй, конвертуй, оптимізуй, редактуй та багато іншого
            </p>
          </div>
          <span class="mobile-submenu-item__arrow">▼</span>
        </div>

        <ul class="mobile-submenu-list">
          <li class="mobile-submenu-item-container">
            <a href="#" data-link="pdftools/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#pdf-tool-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Головна PDF Tools</h4>
                <p class="mobile-submenu-item__desc">Всі інструменти роботи з PDF</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./pdftools/pdfmerge/" data-link="pdftools/pdfmerge/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#merge-pdf-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Об’єднання PDF</h4>
                <p class="mobile-submenu-item__desc">Об’єднай декілька PDF в один файл</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./pdftools/pdfsplit/" data-link="pdftools/pdfsplit/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#split-pdf-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Розділення PDF</h4>
                <p class="mobile-submenu-item__desc">Розділи PDF на окремі сторінки</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./pdftools/pdfcompress/" data-link="pdftools/pdfcompress/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#compress-pdf-outline-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Стискання PDF</h4>
                <p class="mobile-submenu-item__desc">Зменшуй розмір PDF без втрати якості</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./pdftools/convert-pdf-to-image/" data-link="pdftools/convert-pdf-to-image/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#pdf-to-img-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">PDF в Зображення</h4>
                <p class="mobile-submenu-item__desc">Конвертуй PDF в PNG або JPG</p>
              </div>
            </a>
          </li>
          <li class="mobile-submenu-item-container">
            <a href="./pdftools/convert-image-to-pdf/" data-link="pdftools/convert-image-to-pdf/" class="mobile-submenu-item">
              <span class="mobile-submenu-item__icon">
                <svg class="icon" aria-hidden="true">
                  <use data-icon="assets/img/icons/icons.svg#img-to-pdf-ico"></use>
                </svg>
              </span>
              <div class="mobile-submenu-item__text">
                <h4 class="mobile-submenu-item__title">Зображення в PDF</h4>
                <p class="mobile-submenu-item__desc">Створи PDF із зображень</p>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Про нас -->
  <a href="#" data-link="about.html" class="mobile-menu__link">Про нас</a>

</div>

<div id="mobileOverlay" class="mobile-overlay"></div>