<footer class="footer">
    <div class="container footer__inner">
        <div>
            <h3>LB Tools</h3>
            <p>Онлайн інструменти для роботи з файлами.</p>
        </div>

        <div class="footer__links">
            <a href="./index.html">Головна</a>
            <a href="#" data-link="imgtools/optimizer-img">Оптимізатор зображень</a>

            
            <a href="pdftools/pdfmerge" data-link="pdftools/pdfmerge">Об’єднати PDF</a>
            <a href="pdftools/pdfsplit" data-link="pdftools/pdfsplit">Розділити PDF</a>
            <a href="pdftools/pdfcompress" data-link="pdftools/pdfcompress">Стиснути PDF</a>
            <a href="pdftools/convert-pdf-to-image" data-link="pdftools/convert-pdf-to-image">PDF → Зображення</a>
            <a href="pdftools/convert-image-to-pdf" data-link="pdftools/convert-image-to-pdf">Зображення → PDF</a>

            <a href="#">Політика</a>
        </div>

        <div class="footer__copy">
            © 2026 LB Tools. Усі права захищені.
        </div>
    </div>
</footer>